*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: black;
}

button
{
    padding: 10px 15px;
    border: 2px solid cyan;
    background-color: transparent;
    color: cyan;
    font-weight: 600;
    position: relative;
 overflow: hidden;
  transition: all linear 0.5s;
}

button::after
{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%,-50%) scale(0);
   transition: all linear 0.5s;
   z-index: -1;
}
button:hover::after
{
    transform: translate(-50%,-50%) scale(3);
}
button:hover
{
    color: black;
}